body {
	margin: 0;	
}
.info-container {
	width: 100vw;
	height: 100vh;
	background-image: url(photo/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.container-bgim {
	background-color: rgba(67,167,255,0.5);
	width: inherit;
	height: inherit;
}
.index-container {
	width: 40%;
	height: inherit;
	float: left;
	display: inline-block;
}
.index-conainer>div {
	width: inherit;
	height: inherit;
}
.cv1,.cv2,.cv3,.cv4{
	background: url(photo/cv.png);
	height: 220px;
	position: absolute;
    width: 180px;
    background-size: cover;

}
.cv1{
    left: 13vmin;
    top:30vmin;
    z-index: 2;   
}
.cv2{
	left: 30vmin;
	top:35vmin;
    z-index: 3;
}
.cv3 {
	left: 22vmin;
	top:21vmin;
    z-index: 4;
}
.cv4 {
	left: 40vmin;
	top:25vmin;
    z-index: 5;

}
.text-container {
	width: 60%;
	height: inherit;
	float: left;
	text-align: center;
}
.text-container>div {
	margin-top: 25%; 
	width: 90%;
	vertical-align: middle;
	left: 40px;
	padding: 15px;
}
.text-container p {
	color: white;
	font-weight: 800;
	font-size: 20px;
	float: left;
	text-align: left;
}
.text-container button {
	background-color: #109414;
	display: inline-block;
	height: 45px;
	width: 290px;
	color: white;
	border: 0 solid #109414;
	border-radius: 8px;
	padding: 0px 20px;
}
.count-container {
	background-color: #CCC;
	width: 100vw;
	text-align: center;
}
.count-container>div {
	width: 75%;
    margin: 0px auto;
}
.count-container>div>div {
	width: calc(100%/3);
	height: inherit;
	float: left;
	color: #168DD2;
	font-weight: 650;	
}
.circle {
	width: 150px;
	height: 150px;
	display: table;
	border-radius: 150px;
	border:3px solid #168DD2;
	margin: 5px auto;
	background-color: white;
}
.circle p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    font-size: 50px;

}
.us-name {
    width: 100%;
    text-align: center;
}
.author-container {
	width: 100vw;	
}
.ac-1, .ac-2 {
	display: flex;
	width: inherit;
	text-align: center;
	overflow: hidden;
	justify-content:center;

}

.author {
	
	float: left;
	padding: 10px 0;
}

.author {
	width: calc(100%/4);
}
.author img {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border:3px solid orange;
}
@media screen and (max-width: 320px) {
	.index-container {
		display: none;
	}
	.text-container {
		width: 100%;
	}
	.author img {
	width: 60px;
	height: 60px;
	}
	.circle {
		width: 60px;
		height: 60px;
	}
	.circle {
		width: 60px;
		height: 60px;
		border-radius: 60px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.index-container {
		display: none;
	}
	.text-container {
		width: 100%;
	}
	.author img {
	width: 60px;
	height: 60px;
	}
	.author1:last-child {
		display: none;
	}
	.author2:last-child {
		display: none;
	}
	.circle {
		width: 60px;
		height: 60px;
		border-radius: 60px;
	}
	.circle p {
		font-size: 25px;
	}
	h3 {
		font-size: 100%;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	.index-container {
		display: none;
	}
	.text-container {
		width: 100%;
	}
	.author img {
	width: 90px;
	height: 90px;
	}
	.author1:last-child {
		display: none;
	}
	.author2:last-child {
		display: none;
	}
	.circle {
		width: 90px;
		height: 90px;
		border-radius: 90px;
	}

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.index-container {
		display: none;
	}
	.text-container {
		width: 100%;
	}
	.author img {
	width: 120px;
	height: 120px;
	}
	.author1:last-child {
		display: none;
	}
	.circle {
		width: 120px;
		height: 120px;
		border-radius: 120px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.index-container {
		display: none;
	}
	.text-container {
		width: 100%;
	}
	.author img {
	width: 150px;
	height: 150px;
	}
	.author1:last-child {
		display: none;
	}
	.circle {
		width: 150px;
		height: 150px;
		border-radius: 150px;
	}
}
@media screen and (min-width: 1280px) {
	.circle {
		width: 180px;
		height: 180px;
		border-radius: 180px;
	}
	.author img {
		width: 180px;
		height: 180px;
	}
	.circle {
		width: 180px;
		height: 180px;
	}
}