* {
	margin : 0;
	padding: 0;
}
body {
	min-width: 1024px;
	max-width: 2048px; 
}
.bg-img {
	width: 100vw;
	height: 70vh;
	margin: auto;
}
.opacity-block{
	background-image: url(photo/bg.jpg);
	
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 70vh;
	margin:0 auto;

}
.user-block {
	background-color: white;
	display: block;
	margin: auto;
	width: 100vw;
	height: 210px;
}
.people-block {
	background-color: white;
}
.cv {
	background-color: rgba(67,167,255,0.5);
	width: 100vw;
	height: 100vh;

}
.inform {
	position: absolute;
	font-weight: 450;
	top:115px;
	right: 135px;
	width: 600px;
	text-align: left;
	color: white;
}
.imform p {
	font-size: 50px;
}
button{
	background-color: #109414;
	text-align: center;
	display: inline-block;
	float: right;
	height: 45px;
	width: 290px;
	color: white;
	border: 0 solid #109414;
	border-radius: 8px;
	margin: 80px 15px;
}
.papers {
	position: absolute;
	font-weight: 600;
	width: 470px;
	height: 550px;
	top: 20px;
	left: -50px;
	background-position: center;
	background-size: cover;
}

.cv1,.cv2,.cv3,.cv4{
	background: url(photo/cv.png);
	height: 220px;
    width: 180px;
    position: absolute;
    background-size: cover;

}
.cv1{
    left: 300px;
    z-index: 2;
    top:80px;
}
.cv2{
	left: 250px;
	top:160px;
    z-index: 3;
}
.cv3 {
	left: 190px;
	top:60px;
    z-index: 4;
}
.cv4 {
	left: 120px;
	top:120px;
    z-index: 5;

}
.number {
	display: inline-block;
	margin: 15px 90px 0px 90px;
	
}
.inf-user {
	width: 100vw;
	text-align: center;
	margin-top: 0;
}
.circle {
	float: right;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid #168DD2;
	font-size: 65px;
	color: #168DD2;
	text-align: center;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}

.circle p {
	position: absolute;
	font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.us-name {
	font-size: 19px;
	color: #168DD2;
	font-weight: 650;
	letter-spacing: 3px;
	text-align: center;
}

img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border:3px solid #E98724;
}
.etap1, .etap2{
	width: 100vw;
	text-align: center;
	margin: auto;
}
.etap1 img {
	margin: -5px 90px 0px 90px;
	
}
.etap2 img{
	margin: -10px 90px 25px 90px;
	
}
