body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("photos/bg.jpg");
    background-size: cover;
    background-position: center center;
}
header {
    width: 100vw;
    height: 5%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 17, 100, 0.692);
    color: rgb(214, 189, 189);
}

.main {
    width: 100%;
    padding:0;
    background-size: cover;
    background-position: center center;
}

#modal {
    position: absolute; 
    width: calc(100%/3); 
    text-align: center;
    top:5%;
    color: black;
    height: 5%;
    right: 0; 
    border: 1px solid #000; 
    border-radius: 9px;
    background: rgba(61, 40, 155, 0.699);
    display: inline-block;
}
.modal-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#fromyou {
    width: 100%;
    height: 85vh;
    top: 15%;
    margin: 5% 0 0 0;
    text-align: center;
    display: block;
}
.mask {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form2 {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color:rgba(61, 40, 155, 0.699);
    border-radius: 9px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
#form2>input {
    width: calc(87%/3);
    height: 15%;
    margin: 1%;
    padding: 7px;
    border: 2px solid rgba(61, 40, 155, 0.699);
    border-radius: 9px; 
}
#form2>input:active {
    border: 2px solid rgba(26, 45, 66, 0.651);
    border-radius: 9px;
}
.but {
    width: 10%;
    color: red;
}
#area {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
}
table {
    width: calc(90%/4);
    background: rgba(59, 34, 170, 0.37);
    color: aliceblue;
    margin: 10px;
    color: rgb(0, 0, 0);
    border-radius: 9px;
    
}
#myModal {     
        width: 80%;  
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}
#myModal input {
    border:2px solid rgba(32, 17, 100, 0.692) ;
    border-radius: 9px;
}
.modal-content {
    color: rgb(255, 255, 255);
    background: rgba(61, 40, 155, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}
@media screen  and (max-width: 768px) and (max-width:1280) {
    table {
        width: calc(95%/1);
    } 
    #fromyou {
        width: 100%;
    } 
    #form2>input {
        margin: 6%;
        padding: 11px;
    }
    .modal-content {
        width: 70%;
        height: 85%;
    }
}
@media screen  and (max-width: 1280px) {
    table {
        width: calc(95%/1);
    } 
    #fromyou {
        width: 100%;
    } 
}