body {
    font-family:Tahoma, sans-serif;
    margin: 0; 
}
.reklama-container {
    width: 100%;
    font-size: 100%;
    height: 6%;
    background-color: rgba(5, 11, 15, 0.822);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top {
    top:0;
    left: 0;
}
.info {
    font-size: 50%;
    color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sites {
    font-size: 50%;
    color: aliceblue;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.for-school {
    color: aliceblue;
    width: 100%;
    height: 80%;
    background: url(photos/school.jpg) no-repeat center top;
    background-size: cover;
    background-position: center center;
}
.rgba-vid {
    width: 100%;
    background-color:rgba(75, 30, 180, 0.411);
	width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rgba-vid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headname {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 2vmin;
    display: flex;
    justify-content: space-around;
}

.head-block>div>i {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: aliceblue;
    background-color: rgb(23, 111, 212);
    top: -50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    display: flex;
}
.head-block {
    width: 30%;
    height: 100%;
}
.head-1 {
    margin-top: -10%
}
.headname {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 2vmin;
    display: flex;
    justify-content: space-around;
    
}
.head-block div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.headname h5 {
    color: rgb(27, 22, 22);
}
.headname p {
    color: rgb(155, 147, 147);
}
.about-school-1 {
    background-color: rgb(238, 208, 208);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 2vmin;
}
.info-text {
    width: 20%;
    padding: 15px 0;
}
.info-photo {
    width: 50%;
    padding: 50px 0;
}
.pic-1,
.pic-2 {
    height: 100px;
    width: 150px;
    position: absolute;
}

.pic-1 {
    z-index: 2;
}

.pic-2 {
    left: 50%;
    bottom: 25%;
    z-index: 20;
}
.about-school-2 {
    width: 100%;
}
.about2 {
    margin: 0 15%;
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: bold;
}
.about2-main {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    font-size: 2vmin;
}

.about2-main p {
    color: rgb(155, 147, 147);
}

.main {
    width: calc(90%/2);
    margin: 30px 30px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 8px; 
    display: flex;
    justify-content: flex-start;
}
.main-info {
    margin: 0px 20px;
}

.main i {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid rgb(212, 98, 57); 
    color: rgb(212, 98, 57); 
    text-align: center;
}
.about-school-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
     
}
.about3 {
    margin: 0 15%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

.about3-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about3-main p {
    color: #519797;
}

.about-body {
    width: calc(100%/3);
    padding: 10px 10px;
    margin: 30px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2vmin;
}

.about3-info {
    display: flex;
    width: calc(90%/3);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.about3-cv {
    color: #0099f9;
    font-size: 5vmin;
}

.about-body h3 {
    margin: 5px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.about-school-4 {
    width: 100%;
    background-image: url(photos/unique.jpg);
    background-size: cover;
    background-position: center top;
}

.about4 {
    text-align: center;
    font-size: 18px;
    margin: 0 15%;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding-top: 30px;
}


.about4 h1 {
    margin: 0;
}

.form-caskade {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0px;
}
form {
    background-color: aliceblue;
    padding: 15px;
}
.forma-header {
    padding: 20px;
    background-color: rgb(199, 158, 158);
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border: 3px solid rgb(182, 106, 19);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 10px;
    margin: 10px 0px;
}

.name-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-form div {
    width: 48%;
}

.message-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.button-form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
label {
    color: #2789c5;
}
.button {
    width: 20%;
    height: 10%;
    background-color: #2789c5;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 100%;
    cursor: pointer;
}